<h1>Mirror a new git</h1>
<form class="form-inline" role="form" method="post">
  <div class="form-group">
    <label for="gitRepo">Github Url (SSH Notation)</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" style="width: 300px" id="gitRepo" name="githuburl" placeholder="git@github.com:<user>/<repo>.git">
  </div>

  <button type="submit" class="btn btn-default">Mirror Repo</button>
</form>

<div><a href='/'>back</a></div>
